

/* ==========START COMPONENTS========== */






/* ==========END COMPONENTS========== */

/* ==========START HEADER========== */


/* ==========END HEADER========== */

/* ==========START HERO========== */


/* ==========END HERO========== */

/* ==========START MAIN========== */
/* .subtitle {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-logo-theme);
} */













/* ==========END MAIN========== */

/* ==========START FOOTER========== */



/* ==========END FOOTER========== */

/* ==========START MODAL========= */

/* ============END MODAL============ */