.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);

    .header & {
        margin-right: 93px;
    }
    .footer & {
        margin-bottom: 20px;
        display: block;
    }
}

.logo-dark {
    color: var(--secondary-font-color);
}

.logo-light {
    color: var(--color-white);
}