body {
    font-family: var(--primary-font-family), "Verdana", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-font-color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

